<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Store Seller Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
      integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body class="bg-gradient-to-r from-violet-800 to-blue-800 text-lg">

    <div class="flex justify-center">
      <h1 class="text-4xl p-4 text-slate-200">General Store Dashboard</h1>
    </div>

    <div class="flex gap-8 justify-center pt-8">
      <div class="flex flex-col justify-center items-center">
        <label class="text-2xl pb-2 text-blue-300">ITEM NAME</label>
        <input
          id="itemName"
          class="px-2 py-2 rounded-2xl bg-slate-200"
          required
          type="text"
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <label class="text-2xl pb-2 text-blue-300">DESCRIPTION</label>
        <input
          id="itemDescription"
          class="px-2 py-2 rounded-2xl bg-slate-200"
          required
          type="text"
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <label class="text-2xl pb-2 text-blue-300">PRICE</label>
        <input
          id="itemPrice"
          class="px-2 py-2 rounded-2xl bg-slate-200"
          type="number"
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <label class="text-2xl pb-2 text-blue-300">QUANTITY</label>
        <input
          id="itemQuantity"
          class="px-2 py-2 rounded-2xl bg-slate-200"
          required
          type="number"
        />
      </div>
    </div>

    <div class="flex justify-center">
      <button
        id="addItem"
        class="px-4 py-2 rounded-2xl mt-8 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-slate-700 ease-in-out duration-300 transition-all"
      >
        Add Item
      </button>
    </div>

    <hr class="mt-8 border-2" />

    <div class="my-10">
      <ol id="itemList" class="text-2xl text-zinc-700"></ol>
    </div>
    
    <script src="js/main.js"></script>
  </body>
</html>
